include partials/header.pug
h1 incident
p id : #{incident.id}
p Attraction : #{incident.attraction}
p Nature : #{incident.nature}
p Technician : #{incident.technician}
p Start : #{incident.start_date}
p End : #{incident.end_date}
a(href=`/`) Return



